{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix') }}>

  {{ title_suffix.contextual_links }}
  <h1>{{ content.field_title['0']['#context']['value']|raw }}</h1>
    {{ content.field_subheader }}
    <div class="doc-description">
      <a href="#view">
        {{ content.field_media_image }}
      </a>
      <div>
        {{ content.field_author_speaker }}
        {{ content.body }}

        {% if content.field_attachments.0 %}
          <h2 id="view">{{ 'View online/download'|t }}</h2>
          {{ content.field_attachments }}
        {% endif %}

        {% if content.field_unit_price.0 or content.field_shipping_fee.0 or content.field_print_language.0 or content.field_order_from.0 %}
          <h2>{{ 'Order printed/published version'|t }}</h2>

          {% if content.field_unit_price.0 %}
            <div class="unit-price-currency field field--label-inline clearfix">
              <div class="field__label">{{ 'Unit price'|t }}</div> {{ content.field_unit_price['0']['#context']['value'] }} {{ content.field_currency['0']['#context']['value'] }}
            </div>
          {% endif %}

          {{ content.field_shipping_fee }}
          {{ content.field_print_language }}
          {{ content.field_order_from }}
        {% endif %}

        <h2>{{ 'Bibliographic information'|t }}</h2>
        {% if content.field_region|render or content.field_country|render %}
          <div class="mb-2 semi-colon-terms"><strong>{{ 'Geographic coverage: '|t }}</strong>

            {% if content.country_terms %}
              {%- for item in content.region_terms -%}
                {% if item|length > 0 %}
                  <a href="{{ path('<front>') }}/digital-library/publications?f[0]=region_publications:{{ item.id }}">
                    {{ item.name -}}
                  </a>
                {% endif %}
              {%- endfor -%}

              {%- for item in content.country_terms -%}
                {% if item|length > 0 %}
                  <a href="{{ path('<front>') }}/digital-library/publications?f[0]=country_publications:{{ item.id }}">
                    {{ item.name -}}
                  </a>
                {% endif %}
              {%- endfor -%}              
            {% else %}
              {%- for item in content.region_terms -%}
                {% if item|length > 0 %}
                  <a href="{{ path('<front>') }}/digital-library/publications?f[0]=region_publications:{{ item.id }}">
                    {{ item.name -}}
                  </a>
                {% endif %}
              {%- endfor -%}
            {% endif %}

              {%- for item in content.country_terms['#items'] -%}
                {% if item|length > 0 %}
                  <a href="{{ path('<front>') }}/digital-library/publications?f[0]=country_publications:{{ item.id }}">
                    {{ item.name -}}
                  </a>
                {% endif %}
              {%- endfor -%}
          </div>
        {% endif %}

        {% if content.field_subject_area|render %}
          <div class="mb-2 semi-colon-terms"><strong>{{ 'Subject areas: '|t }}</strong>

            {% if content.subject_area_terms %}
              {%- for item in content.subject_area_terms|sort -%}
                {% if item|length > 0 %}
                  <a href="{{ path('<front>') }}/digital-library/publications?f[0]=subject_area_publications:{{ item.id }}">
                    {{ item.name -}}
                  </a>
                {% endif %}
              {%- endfor -%}
            {% endif %}
          </div>
        {% endif %}

        {% if content.field_resource_type|render %}
          <div class="mb-2 semi-colon-terms"><strong>{{ 'Resource type(s): '|t }}</strong>

            {% if content.resource_type_terms %}
              {%- for item in content.resource_type_terms -%}
                {% if item|length > 0 %}
                  <a href="{{ path('<front>') }}/digital-library/publications?f[0]=resource_type_publications:{{ item.id }}">
                    {{ item.name -}}
                  </a>
                {% endif %}
              {%- endfor -%}
            {% endif %}
          </div>
        {% endif %}

        {% if content.field_publication_series|render %}
          <div class="mb-2 semi-colon-terms"><strong>{{ 'Publication series: '|t }}</strong>

            {% if content.publication_series_terms %}
              {%- for item in content.publication_series_terms -%}
                {% if item|length > 0 %}
                  <a href="{{ path('<front>') }}/digital-library/publications?f[0]=publication_series_publications:{{ item.id }}">
                    {{ item.name -}}
                  </a>
                {% endif %}
              {%- endfor -%}
            {% endif %}
          </div>
        {% endif %}

        {% if content.field_publishing_office|render %}
          <div class="mb-2 semi-colon-terms"><strong>{{ 'UN Women office publishing: '|t }}</strong>

            {% if content.publishing_office_terms %}
              {%- for item in content.publishing_office_terms -%}
                {% if item|length > 0 %}
                  {{ item.name -}}
                {% endif %}
              {%- endfor -%}
            {% endif %}
          </div>
        {% endif %}

        <div class="publication-year field field--label-inline clearfix">
          <div class="field__label">{{ 'Publication year'|t }}</div>{{ content.field_story_publication_date['0']['#text'] }}
        </div>

        {{ content.field_page_no }}
        {{ content.field_isbn }}

        {% if content.field_governing_body|render %}
          <div class="mb-2 semi-colon-terms"><strong>{{ 'Governing body/ies: '|t }}</strong>

            {% if content.governing_body_terms %}
              {%- for item in content.governing_body_terms -%}
                {% if item|length > 0 %}
                  <a href="{{ path('<front>') }}/digital-library/publications?f[0]=governing_body_publications:{{ item.id }}">
                    {{ item.name -}}
                  </a>
                {% endif %}
              {%- endfor -%}
            {% endif %}
          </div>
        {% endif %}

        {% if content.field_publishing_entity|render %}
          <div class="mb-2 semi-colon-terms"><strong>{{ 'Publishing entity/ies: '|t }}</strong>

            {% if content.publishing_entity_terms %}
              {%- for item in content.publishing_entity_terms -%}
                {% if item|length > 0 %}
                  <a href="{{ path('<front>') }}/digital-library/publications?f[0]=published_by:{{ item.id }}">
                    {{ item.name -}}
                  </a>
                {% endif %}
              {%- endfor -%}
            {% endif %}
          </div>
        {% endif %}

        {{ content.field_builder }}
      </div>
    </div>
    {# {{ content.field_region }} #}
    
    {# {{ content.field_country }} #}

</{{ ds_content_wrapper }}>
