{#
/**
 * @file
 * Display Suite 2 column template.
 *
 * Available variables:
 * - outer_wrapper: outer wrapper element
 * - left_wrapper: wrapper element around left region
 * - right_wrapper: wrapper element around right region
 * - attributes: layout attributes
 * - left_attributes: attributes for left region
 * - right_attributes: attributes for right region
 * - left: content of left region
 * - right: content of right region
 */
#}
<{{ outer_wrapper }}{{ attributes.addClass('ds-2col', 'clearfix') }}>

  {{ title_suffix.contextual_links }}

  <{{ left_wrapper }}{{ left_attributes.addClass('group-left') }}>
    <h1>{{ content.field_title['0']['#context']['value']|raw }}</h1>

    {% if content.field_rsvp_deadline_date.0['#attributes'].datetime %}
      <p><strong>{{ 'Submission deadline: '|t}}</strong><span>{{ content.field_rsvp_deadline_date.0['#attributes'].datetime|date("d F Y") }}</span>
    {% endif %}

    {% if content.field_subheader_long %}
      {{ content.field_subheader_long }}
    {% endif %}

    {% if content.body %}
      {{ content.body }}
    {% endif %}

    {% if content.field_attachments %}
      <div class="cfp-documents">
        <h2>{{ 'Documents'|t }}</h2>
      {{ content.field_attachments }}
      </div>
    {% endif %}

    {% if content.field_contact_person or content.field_contact_email or content.field_contact_phone %}
      {% if content.field_contact_person.0['#context'].value or content.field_contact_email.0['#context'].value or content.field_contact_phone.0['#title'] %}  
        <div class="cfp-contact-information">
          <h2>{{ 'Contact information'|t }}</h2>
          <ul>
            {% if content.field_contact_person.0['#context'].value %}
              <li><strong>{{ 'Contact person: '|t }}</strong>{{ content.field_contact_person.0['#context'].value }}</li>
            {% endif %}

            {% if content.field_contact_email.0['#context'].value %}
              <li><strong>{{ 'Email: '|t }}</strong>{{ content.contact_email.0 }}</li>
            {% endif %}

            {% if content.field_contact_phone.0['#title'] %}
              <li><strong>{{ 'Telephone: '|t }}</strong>{{ content.field_contact_phone.0['#title'] }}</li>
            {% endif %}
          </ul>
        </div>
      {% endif %}
    {% endif %}
  </{{ left_wrapper }}>

  <{{ right_wrapper }}{{ right_attributes.addClass('group-right') }}>
    {{ drupal_region('right_content') }}
    {{ right }}
  </{{ right_wrapper }}>

</{{ outer_wrapper }}>
