<header class="header--main-menu" role="banner">
  {{ page.top_bar }}

  <div class="nav-wrapper">
    {{ page.header }}
    {{ page.navbar }}
  </div>
</header>

{{ page.help }}
{{ page.top_content }}

<main role="main">

  {# link is in html.html.twig #}
  <a id="main-content" tabindex="-1"></a>
    {% if is_kp_active != true %}
      {{ drupal_block('system_breadcrumb_block') }}
    {% endif %}
    <div class="layout-content ambassadors-listing-page">
      <div class="block-ambassadors">
        {{ drupal_block('block_content:0da71bdd-9bb1-45f9-acbe-b2a9889a0f12') }}
      </div>
      {{ drupal_block("social_sharing_buttons_block") }}     
      <div data-quickedit-entity-id="block_content/61" id="block-ambassadorshero" class="abassadors-hero contextual-region block--type-image-and-text block block-block-content block-block-contentb3744cae-12b2-4765-9293-d8add7e576cd" data-quickedit-entity-instance-id="0">
        {{ drupal_block('block_content:b3744cae-12b2-4765-9293-d8add7e576cd') }}
      </div>
      <div class="container">
        <div class="row">
          <h2>{{'UN Women Goodwill Ambassadors'|t }}</h2>
          <h3 class="description">{{'Since the early 1950s, the United Nations has enlisted the volunteer services and support of prominent personalities from the worlds of art, music, film, sport and literature to highlight key issues and to draw attention to its activities. Over the years, many persons of international stature have lent their names, talents and time to support UN programmes—a number of UN Secretariat units and separately funded and administered Funds and Programmes of the United Nations have designated such individuals as Goodwill Ambassadors or celebrity advocates, who are working on behalf of the United Nations worldwide.'|t}}</h3>
          {{ page.content }}
        </div>
      </div>
    </div>

  {# Scroll to top button #}
  <button class="btn btn-secondary icon icon-arrow-left scroll-top" aria-label="{{ 'Scroll to top'|t }}" role="button">
    <span class="sr-only">{{ 'Scroll to top'|t }}</span>
  </button>

  {# Overlay is active when body hass 'no-scroll' class. This happens on tablet, when the menu is opened. #}
  <div class="main-overlay"></div>
</main>

{{ page.bottom_content }}

{% if
  page.footer
    or page.footer_top_left
    or page.footer_top_right
    or page.footer_additional %}
  <footer class="page__footer">
    <div class="container">
      {% if page.footer_top_left or page.footer_top_right %}
        <div class="row">
          {% if page.footer_top_left %}
            <div class="footer-top-left col-12 col-lg-7">
              {{ page.footer_top_left }}
            </div>
          {% endif %}

          {% if page.footer_top_right %}
            <div class="footer-top-right col-12 col-md-5">
              {{ page.footer_top_right }}
            </div>
          {% endif %}
        </div>
      {% endif %}

      {% if page.footer_mobile %}
        <div class="row mt-20 mt-lg-0">
          <div class="col-12">
            <div class="footer-mobile">
              {{ page.footer_mobile }}
            </div>
          </div>
        </div>
      {% endif %}
      
      {% if page.footer_middle %}
        <div class="row mt-50 mt-lg-85">
          <div class="col-12">
            <div class="footer-middle">
              {{ page.footer_middle }}
            </div>
          </div>
        </div>
      {% endif %}

      {% if page.footer_additional %}
        <div class="footer-bottom">
          {{ page.footer_additional }}
        </div>
      {% endif %}
    </div>
  </footer>
{% endif %}
