<header class="header--main-menu" role="banner">
	{{ page.top_bar }}

	<div class="nav-wrapper">
		{{ page.header }}
		{{ page.navbar }}
	</div>
</header>

{{ page.help }}
{{ page.top_content }}

<main role="main">
	<a id="main-content" tabindex="-1"></a>
	{% if is_kp_active != true %}
		{{ drupal_block('system_breadcrumb_block') }}
	{% endif %}

	{{ drupal_view('featured_publication','block_2') }}
	<div class="layout-content search-publication-hq" id="filter-top">
		{% if is_rtl %}
			{{ attach_library('hq/hq-publicaton-listing-page-rtl') }}
		{% else %}
			{{ attach_library('hq/hq-publicaton-listing-page') }}
		{% endif %}

	  <div class="layout-content hq-listing-page">
	    <div class="container">
	    	<div class="row">
	      	<div class="col-12">
	      		<h2>{{'Explore our publications and reports'|t}}</h2>
	      	</div>
	      </div>
	      <div class="row">
	      	<div class="col-12">
	      		{% block pageMainContent %}
		          {{ page.content }}
		        {% endblock %}
	      	</div>
	      </div>
	    </div>
	  </div>
	</div>

	{# Scroll to top button #}
	<button class="btn btn-secondary icon icon-arrow-left scroll-top" aria-label="{{ 'Scroll to top'|t }}" role="button">
		<span class="sr-only">{{ 'Scroll to top'|t }}</span>
	</button>

	{# Overlay is active when body hass 'no-scroll' class. This happens on tablet, when the menu is opened. #}
	<div class="main-overlay"></div>
</main>

{{ page.bottom_content }}

{% if
  page.footer
    or page.footer_top_left
    or page.footer_top_right
    or page.footer_additional %}
	<footer class="page__footer">
		<div class="container">
			{% if page.footer_top_left or page.footer_top_right %}
				<div class="row">
					{% if page.footer_top_left %}
						<div class="footer-top-left col-12 col-lg-7">
							{{ page.footer_top_left }}
						</div>
					{% endif %}

					{% if page.footer_top_right %}
						<div class="footer-top-right col-12 col-md-5">
							{{ page.footer_top_right }}
						</div>
					{% endif %}
				</div>
			{% endif %}

			{% if page.footer_mobile %}
				<div class="row mt-20 mt-lg-0">
					<div class="col-12">
						<div class="footer-mobile">
							{{ page.footer_mobile }}
						</div>
					</div>
				</div>
			{% endif %}

			{% if page.footer_middle %}
				<div class="row mt-50 mt-lg-85">
					<div class="col-12">
						<div class="footer-middle">
							{{ page.footer_middle }}
						</div>
					</div>
				</div>
			{% endif %}

			{% if page.footer_additional %}
				<div class="footer-bottom">
					{{ page.footer_additional }}
				</div>
			{% endif %}
		</div>
	</footer>
{% endif %}
