{% if field_builder_options is not empty and element['#bundle'] == 'news_and_stories' %}
  <div class="paragraph--story-navigation">
    <div class="container">
      <div class="paragraph--story-navigation--label">
        {% if current_node_title %}
          <h4 class="section-title">
            {{ current_node_title }}
          </h4>
        {% endif %}
        <div class="progressive-bar"></div>
      </div>
      <div class="paragraph--story-navigation--select-wrap">
        <select id="menu--story" name="menu--story" class="form-control" title="Story navigation">
          <option value="#0">{{ 'Page Navigation'|t }}</option>
          {% for id, title in field_builder_options %}
            <option value="#{{ id }}">
              {{ title }}
            </option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
{% endif %}

<div class="paragraph-list">
  {% for item in items %}
    {{ paragraphs_bundle }}

    {% set paragraph = item.content['#paragraph'] %}

    <section id="{{ item.content['#paragraph'].id() }}" class="paragraph--section--{{ paragraph.bundle|clean_class }}" {% if paragraph.field_title[0].getValue is defined %} data-title="true" {% endif %}>
      {{ item.content }}
    </section>
  {% endfor %}
</div>
