{% if is_rtl %}
  {{ attach_library('hq/our-presence-modal-rtl') }}
{% else %}
  {{ attach_library('hq/our-presence-modal') }}
{% endif %}

{% set office_type = content.field_office_type.0['#markup']|lower|replace({' ': '_'}) %}
{% set parent_entity = term.parent.entity %}
{% set parent_name = parent_entity.hasTranslation(language) ? parent_entity.getTranslation(language).name.value : parent_entity.name.value %}

{# If office_type is empty or not set, fall back to term.name.value check #}
{% if office_type is empty %}
  {% set term_name = term.name.value|lower %}
  {% set office_type = 'liaison_office' %}
  {% if 'country' in term_name %}
    {% set office_type = 'country_office' %}
  {% elseif 'regional' in term_name %}
    {% set office_type = 'regional_office' %}    
  {% endif %}
{% endif %}

<div class="contact-page-header {{ office_type }}">
  <div class="contact-page-header__container-wrapper">
    <div class="contact-page-header__container">
      <div class="contact-page-header__title-wrapper">
        {% if term.name.value %}
          <div class="contact-page-header__title" id="ui-dialog-title">
            <div class="contact-page-header__heading">{{ term.name.value }}</div>
            <div class="contact-page-header__line"></div>
          </div>
        {% endif %}
        {% if office_type != 'liaison_office' and  parent_name %}
          <div class="contact-page-header__supporting-text">
            {% if office_type != 'liaison_office' %}
              <div class="taxonomy-term-parent">
                {{ parent_name }}
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
      {% if content.field_websites %}
        <div class="contact-page-header__button">
          <div class="contact-page-header__website">{{ content.field_websites }}</div>
        </div>
      {% endif %}
    </div>
    <div class="contact-page-header__content">
      {% if formatted_address_line or  address_detail.locality or address_detail.postal_code or address_detail.administrative_area or country_label %}
        <div class="contact-page-header__icon-card">
          <div class="contact-page-header__label-text">{{ 'Office'|t }}</div>
          <div class="contact-page-header__button2">
            <div class="contact-page-header__address">
              {% if formatted_address_line %}
                {{ formatted_address_line }}
                <br />
              {% endif %}
              {% if address_detail.locality %}
                {{ address_detail.locality }}
                <br />
              {% endif %}
              {% if address_detail.postal_code %}
                {{ address_detail.postal_code }}
                <br />
              {% endif %}
              {% if address_detail.administrative_area %}
                {{ address_detail.administrative_area }},
              {% endif %}
              {{ country_label }}
            </div>
          </div>
        </div>
      {% endif %}

      {% if content.field_contact_phone.0 or content.field_contact_email.0 or content.field_contact_fax_details.0 %}
        <div class="contact-page-header__icon-card" role="region" aria-labelledby="contact-label">
          <div id="contact-label" class="contact-page-header__label-text">{{ 'Contact'|t }}</div>

          <!-- Phone Field -->
          {% if content.field_contact_phone.0 %}
            <div class="contact-page-header__text-wrapper">
              <label for="phone" class="contact-page-header__text5">{{ 'Tel'|t }}:</label>
              <div class="contact-page-header__text5" id="phone">{{ content.field_contact_phone }}</div>
            </div>
          {% endif %}

          <!-- Email Field -->
          {% if content.field_contact_email.0 %}
            <div class="contact-page-header__text-wrapper">
              <label for="email" class="contact-page-header__text5">{{ 'Email'|t }}:</label>
              <a href="mailto:{{ content.field_contact_email.0 }}" id="email" class="contact-page-header__text">
                {{ content.field_contact_email.0 }}
              </a>
            </div>
          {% endif %}

          <!-- Fax Field -->
          {% if content.field_contact_fax_details.0 %}
            <div class="contact-page-header__text-wrapper">
              <label for="fax" class="contact-page-header__text5">{{ 'Fax'|t }}:</label>
              <div class="contact-page-header__text5" id="fax">{{ content.field_contact_fax_details }}</div>
            </div>
          {% endif %}

        </div>
      {% endif %}

      {% if content.field_follow_us|render|striptags('<ul><li><a><i>')|trim|length > 0 %}
        <div class="contact-page-header__icon-card">
          <div class="contact-page-header__label-text">{{ 'Follow Us'|t }}</div>
          <div class="contact-page-follow-link">{{ content.field_follow_us }}</div>
        </div>
      {% endif %}

    </div>
  </div>

  <div class="contact-page-header__section">
    <div class="contact-page-header__map">
      {{ content.field_address }}
    </div>
  </div>
</div>
