{% set classes = [
  'paragraph',
  'paragraph--type--' ~ (paragraph.bundle|clean_class),
  view_mode ? 'paragraph--view-mode--' ~ (view_mode|clean_class),
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{% set color =
  content.field_colour[0]['#options'].entity.field_hex_colour.value
%}

{% set bg_color =
  content.field_background_colour[0]['#options'].entity.field_hex_colour.value
%}

{% block paragraph %}
  <div {{ attributes.addClass(classes) }}
    style="background-color: {{ bg_color }};">
    {% block content %}
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 impact-cards">
            {% if content.field_title.0|length %}
              <div class="impact-cards__heading col-12">
                <h3 style="color: {{ color }};">
                  {{ content.field_title.0 }}
                </h3>
              </div>
            {% endif %}
            <div class="impact-cards__inner row justify-content-center">
              {{ content.field_impact_card_item }}
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock %}
