{% if is_rtl %}
  {{ attach_library('hq/impact-cards-rtl') }}
{% else %}
  {{ attach_library('hq/impact-cards') }}
{% endif %}
{% set classes = [
  'paragraph',
  'paragraph--type--' ~ (paragraph.bundle|clean_class),
  view_mode ? 'paragraph--view-mode--' ~ (view_mode|clean_class),
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{% if content.field_image['#object'] is not empty %}
  {% set image_class = 'img-bg' %}
{% else %}
  {% set image_class = 'color-bg' %}
{% endif %}

{% set parent = paragraph.getParentEntity() %}
{% set text_color = parent.field_colour.entity.field_hex_colour.value %}
{% set icon_color = parent.field_svg_icon_colour.entity.field_hex_colour.value %}

{% block paragraph %}
  <div {{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="impact-card {{ image_class }}"
        style="--bg-color: {{ text_color }};">
        {% if content.field_image['#object'] is not empty %}
          <div class="impact-card__image">
            {{ content.field_image }}
          </div>
        {% endif %}

        {% if content.field_svg_icon is not empty %}
          <div class="impact-card__icon" style="--impact-icon-fill: {{ icon_color }}" >
            {{content.field_svg_icon.0}}
          </div>
        {% endif %}

        <div class="impact-card__inner">
          <div class="impact-card__content">
            <div class="impact-card__stats" style="color: {{ text_color }};">
              {{ content.field_stats[0]['#context'].value }}
            </div>

            <div class="impact-card__desc">
              {{ content.field_description[0]['#text']|raw }}
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock %}
