{% if is_rtl %}
  {{ attach_library('hq/impact-cards-rtl') }}
{% else %}
  {{ attach_library('hq/impact-cards') }}
{% endif %}

{% set classes = [
  'paragraph',
  'paragraph--type--' ~ (paragraph.bundle|clean_class),
  view_mode ? 'paragraph--view-mode--' ~ (view_mode|clean_class),
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{% set image_url = '' %}
{% if paragraph.field_image.entity is not empty and paragraph.field_image.entity.field_media_image.entity is not empty %}
  {% set image = paragraph.field_image.entity.field_media_image.entity %}
  {% set image_url = image.uri.value|image_style('hq_impact_cards_backdrop_webp') %}
{% endif %}

{% set parent = paragraph.getParentEntity() %}
{% set text_color = parent.field_colour.entity.field_hex_colour.value %}
{% set bg_color = parent.field_background_colour.entity.field_hex_colour.value %}

{% block paragraph %}
  <div {{ attributes.addClass(classes) }}>
    {% block content %}
      {% if content.field_image['#object'] is not empty %}
        <div class="impact-card-backdrop img-bg"
             style="background-image: url('{{ image_url }}');
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;">
      {% else %}
        <div class="impact-card-backdrop color-bg" style="background-color: {{ bg_color }};">
      {% endif %}
          <div class="impact-card-backdrop__inner">
            <div class="impact-card-backdrop__content">
              <div class="impact-card-backdrop__stats" style="color: {{ text_color }};">
                {{ content.field_stats[0]['#context'].value }}
              </div>

              <div class="impact-card-backdrop__desc" style="color: {{ text_color }};">
                {{ content.field_description[0]['#text']|raw }}
              </div>
            </div>
          </div>
        </div>
    {% endblock %}
  </div>
{% endblock %}
