{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
<article{{ attributes.addClass(classes) }}>
{% block node %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <header class="story-header">
            <div class="profile-page">
              <div class="quote-text-image profile-page">
                <div class="quote-image-profile">
                  {{ content.field_media_image }}
                </div>
                <div class="justify-content-center include-image ">
                  {{ title_prefix }}
                    <h1 class="story-title">{{ label }}</h1>
                  {{ title_suffix }}

                  {% if content.field_subheader_long.0 %}
                    <h2>{{ content.field_subheader_long }}</h2>
                  {% endif %}

                  <div class="quote-body-profile">
                    <div class="quote-text-profile">
                      {{ content.field_body_qoa }}
                    </div>
                  </div>
                  <div class="quote-author-profile">—{{ content.field_quote_author }}</div>

                  {% if content.field_story_publication_date.0 or content.field_author.0 %}
                    {# <div class="story-author-date">
                      {% if content.field_story_publication_date.0 %}
                        {{ content.field_story_publication_date }}
                      {% endif %}
                    </div> #}
                  {% endif %}

                  {{ drupal_block("social_sharing_buttons_block") }}
                </div>
              </div>
            </div>
          </header>
        </div>
      </div>
    </div>
    {% if content.body.0 %}
      <div class="container not-top">
        <div class="row justify-content-center">
          <div class="col-md-10">
            {{ content.body }}
          </div>
        </div>
      </div>
    {% endif %}

    {{ content.field_builder }}
    
    {% if content.field_item_id.0 %}
      <div class="follow-section">
        {{ content.field_media_image }}
        <div class="right-section">
          {{ content.field_item_id }}
          <div class="social-media-links--platforms fallow-social">

            {% if content.field_facebook.0 %}
              <a href='{{ content.field_facebook.0['#title'] }}' target="_blank" title="Facebook" aria-label="Facebook" class="social-sharing-buttons__button" rel="noopener">
                <i class="icon-facebook"><span class="d-none"> Facebook</span></i>
              </a>
            {% endif %}

            {% if content.field_twitter.0 %}
              <a href="{{ content.field_twitter.0['#title'] }}" target="_blank" title="Twitter" aria-label="Twitter" class="social-sharing-buttons__button" rel="noopener">
                <i class="icon-twitter"><span class="d-none"> Twitter</span></i>
              </a>
            {% endif %}

            {% if content.field_linkedin.0 %}
              <a href="{{ content.field_linkedin.0['#title'] }}" target="_blank" title="Linkedin" aria-label="Linkedin" class="social-sharing-buttons__button" rel="noopener">
                <i class="icon-linkedin"><span class="d-none"> LinkedIn</span></i>
              </a>
            {% endif %}

          </div>
        </div>
      </div>
    {% endif %} 

    {% if content.field_focal_point_title.0 %}
      <div class="focal-point">
        <div class="wrapp-focal-point">
          {{ content.field_focal_point_title }}
          <div class="contact-wrapper">
            {% if content.field_contact_focal_point.0 %}
              <div class="icon-contact"></div>
              {{ content.field_contact_focal_point }}    
            {% endif %}   
          </div>

          <div class="email-wrapp">
            {% if content.field_email_focal_point.0 %}
              <i class="icon-email hide-email"><span class="d-none">E-mail</span></i>
              {{ content.field_email_focal_point }}
            {% endif %} 
          </div>
        </div>
      </div>
   {% endif %}  

  {% endblock %}
</article>
