{#
/**
* @file
* Default theme implementation to display views exposed filters summary.
*
* Available variables:
* - show_label: Show the fitler label.
* - show_remove_link: Show a remove link.
* - show_reset_link: Show a reset link.
* - reset_link:
* - title: The reset link title.
* - filters_summary:
* - prefix: The exposed filter summmary prefix.
* - separator: The exposed filter summary separator.
* - summary: An array of selected filters. Available keys:
* - label: The label of the filter.
* - value: The value of the filter.
*/
#}
{% set classes = [
'views-filters-summary',
options.use_ajax ? 'views-filters-summary--use-ajax'
] %}
{% apply spaceless %}
<div {{ attributes.addClass(classes) }}>
  {% if summary and options.filters_summary.prefix %}
  <span class="prefix">
    {{ options.filters_summary.prefix }}
  </span>
  {% endif %}
  <span class="items">
    {%- for item in summary -%}
    <span class="item">
      {% if options.show_label %}
      <span class="label">{{ item.label }}:</span>
      {% endif %}
      {% if options.has_group_values %}
      <span class="values">
        {%- for value in item.groups -%}
        <strong class="value">{{ value.value|trans }}</strong>
        {% if value.link and options.show_remove_link %}
        {{ value.link }}
        {% endif %}
        {% endfor %}
      </span>
      {% else %}
      <strong class="value">{{ item.value|trans }}</strong>
      {% if item.link and options.show_remove_link %}
      {{ item.link }}
      {% endif %}
      {% endif %}
      {% if loop.last == false %}
      {{- options.filters_summary.separator -}}
      {% endif %}
    </span>
    {%- endfor -%}
  </span>
  {% if summary and options.show_reset_link and options.reset_link.title %}
  <a class="reset" href='/'>
    {{ options.reset_link.title }}
  </a>
  {% endif %}
</div>
{% endapply %}

<p>Our donors exemplify unity in action through their commitment to UN Women. In 2023, UN Women received USD 562.9 million in total contributions, an increase of 3.2 per cent over 2022 (USD 545.4 million).</p>
<p>Core, or Regular Resources (RR), increased by 7 per cent, from USD 153.3 million in 2022 to USD 164.1 million in 2023, and non-core or Other Resources (OR) grew by 1.5 per cent, from USD 382.7 million in 2022 to USD 388.3 million in 2023, surpassing the integrated budget projections (USD 300m) for the fifth year in a row. For the third time in the history of UN Women, RR growth outpaced OR growth. This is an affirmation of support for UN Women’s mandate during a critical period. We are grateful to our 180 funding partners, especially to Germany, Finland, Switzerland, the United States, and Denmark, who were the top five RR contributors, and to governments that substantially increased RR contributions in 2023, namely Germany, the United States, the Republic of Korea, Spain, and Iceland.</p>
<p>We appreciate our top five total (RR and OR) funding partners: the Multi-Partner Trust Fund Office, Sweden, Germany, the European Commission, and Finland, and our top five OR private sector partners: the Bill & Melinda Gates Foundation, the Foundation to Promote Open Society, the Ford Foundation, BHP Billiton Foundation, and De Beers PLC.</p>
<p>In 2023, UN Women surpassed funding milestones for both the public and private sectors. We continued to enlarge our partner base, achieving an 18 per cent increase in active partners through expanded engagements with the private sector and international financial institutions.</p>
<p>UN Women National Committees increased contributions to regular resources by 24 per cent compared to 2022 based on higher levels of giving by individuals committed to gender equality and women’s empowerment.</p>
<p>For more details on our 2023 contributions and funding partners, please visit the <a href="https://open.unwomen.org/partners" target="_blank">UN Women Transparency Portal</a>.</p>
<p>2023 in revenue, an all-time high
  <ul>
    <li>USD 562.9 M</li>
  </ul>
</p>

<p>2023 contributions compared to 2022
  <ul>
    <li>+3.1% Voluntary contributions</li>
    <li>-7.0% Regular resources</li>
    <li>+1.5% Other resources</li>
  </ul>
</p>

<p>Funding partners in 2023
  <ul>
    <li>180 funding partners</li>
    <li>84 UN Member States</li>
    <li>13 National Committees</li>
    <li>51 private sector partners contributed USD 25.5 M in 2023, compared to 49 partners with a total funding of USD 23.9 M in 2022</li>
  </ul>
</p>

<p>Selected corporate partnerships
  <ul>
    <li>237 advertising industry leaders support the <a href="https://www.unstereotypealliance.org/en" target="_blank">Unstereotype Alliance</a></li>
    <li>9,180 businesses have signed the <a href="https://www.weps.org/" target="_blank">Women’s Empowerment Principles</a></li>
  </ul>
</p>







 



