{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    'row',
    'swiper-container',
  ]
%}

{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% if not label_hidden %}
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
  {% endif %}

  <div class="field__items swiper-wrapper">
    {% for item in items %}
      <div{{ item.attributes.addClass('field__item', 'col-md-6', 'col-lg-4', 'swiper-slide') }}>
        {{ item.content }}
      </div>
    {% endfor %}
  </div>
</div>
