{% set classes = [
  'paragraph',
  'paragraph--type--' ~ (paragraph.bundle|clean_class),
  view_mode ? 'paragraph--view-mode--' ~ (view_mode|clean_class),
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{% set image_url = '' %}
{% if paragraph.field_image_limited_media.entity is not empty and paragraph.field_image_limited_media.entity.field_media_image.entity is not empty %}
  {% set image = paragraph.field_image_limited_media.entity.field_media_image.entity %}
  {% set image_url = image.uri.value|image_style('hq_impact_cards_backdrop_webp') %}
{% endif %}

{% set parent = paragraph.getParentEntity() %}
{% set text_color = paragraph.field_text_color.entity.field_hex_colour.value %}

{# Determine background style and extra class #}
{% if image_url %}
  {% set background_style = 'background-image: url(' ~ image_url ~ ');' %}
  {% set extra_class = 'img-bg' %}
{% else %}
  {% set background_style = 'background-color: ' ~ text_color ~ ';' %}
  {% set extra_class = 'color-bg' %}
{% endif %}

{% block paragraph %}
  <div {{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="topic-card-backdrop {{ extra_class }}" style="{{ background_style }}">
        <div class="topic-card-backdrop__inner">
          <div class="topic-card-backdrop__content">
            <div class="topic-card-backdrop__title" style="color: {{ text_color }};">
              {{ content.field_title[0]['#context'].value }}
            </div>
            <div class="topic-card-backdrop__desc">
              {{ content.field_summary }}
            </div>
          </div>
          <div class="topic-card-backdrop__footer">
            {{ content.field_link_limited }}
          </div>
        </div>
      </div>
    {% endblock %}

    <a href="{{ content.field_link_limited.0['#url'] }}" class="link-full-content" title="{{ content.field_title.0 }}">
      <span class="sr-only">{{ content.field_title.0 }}</span>
    </a>
  </div>
{% endblock %}
