{% set classes = [
  'paragraph',
  'paragraph--type--' ~ (paragraph.bundle|clean_class),
  view_mode ? 'paragraph--view-mode--' ~ (view_mode|clean_class),
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{{ attach_library('hq/swiper_library') }}
{% if is_rtl %}
  {{ attach_library('hq/paragraph.vm.topic-card-backdrop-rtl') }}
{% else %}
  {{ attach_library('hq/paragraph.vm.topic-card-backdrop') }}
{% endif %}

{% block paragraph %}
  <div {{ attributes.addClass(classes) }}>
    {% block content %}
      <div class=" topic-cards-backdrop">
        {% if content.field_title.0|length %}
          <div class="topic-cards-backdrop__heading">
            <h2>
              {{ content.field_title.0 }}
            </h2>
          </div>
        {% endif %}
        <div class="swiper-container row">
          <div class="swiper-wrapper topic-cards-backdrop__inner">
            {{ content.field_component }}
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock %}
