{% set classes = [
  'paragraph',
  'cards_container',
  'paragraph--type--' ~ (paragraph.bundle|clean_class),
  view_mode ? 'paragraph--view-mode--' ~ (view_mode|clean_class),
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{{ attach_library('hq/swiper_library') }}

{% block paragraph %}
<div class="container">
  <div {{ attributes.addClass(classes) }}>
    {% block content %}

      {% set items_amount = content.field_component['#items']|length %}
      {% set disabledBtn = (items_amount <= 4) ? 'swiper-button-disabled' : '' %}

      {% if items_amount > 2 %}
        <div class="swiperHeader-wrapper">
          {{ content.field_title }}

          <span class="sr-only js-items-per-view">{{ content.field_items_per_view.0 }}</span>
          <nav class="carouselNav-wrapper">
            <button class="swiper-button-prev btn btn-primary icon icon-arrow-left {{disabledBtn}}"><span class="sr-only">swipe left</span></button>
            <button class="swiper-button-next btn btn-primary icon icon-arrow-right {{disabledBtn}}"><span class="sr-only">swipe right</span></button>
          </nav>
        </div>

        <div class="swiper-container">
          <div class="swiper-wrapper">
            {{ content.field_component }}
          </div>
          <div class="swiper-scrollbar"></div>
        </div>
      {% else %}
        {% if items_amount > 1 %}
          {{ content.field_component }}
        {% else %}
          {% set items = content.field_component['#items'].getValue() %}
          {% for item in items %}
            {{ drupal_entity('paragraph', item.target_id, 'featured', check_access=false) }}
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endblock %}
  </div>
</div>
{% endblock %}
