{% set classes = [
  'paragraph',
  'paragraph--type--' ~ (paragraph.bundle|clean_class),
  view_mode ? 'paragraph--view-mode--' ~ (view_mode|clean_class),
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{% block paragraph %}
  {% block content %}
    <article {{ attributes.addClass(classes) }}>
      <div class="content">
        {% if content.field_image_limited_media.0 %}
          <div class="image">
            <div class="field--name-field-image-limited">
              {{ content.field_image_limited_media }}
            </div>
          </div>
        {% endif %}
        {% if content.field_tag.0 or content.field_title.0 or content.field_link_limited.0 or content.field_summary.0 %}
          <div class="content-right">
            {% if content.field_tag.0 %}
              <div class="content-tag">
                {{ content.field_tag }}
              </div>
            {% endif %}
            
            {% if content.field_title.0 or content.field_link_limited.0 %}
            <h5>
              <a  class="card_title" href="{{ content.field_link_limited.0['#url_title'] }}" 
                  aria-label="{{ content.field_title.0 }}" 
                  title="{{ content.field_title.0 }}">
                  <span>{{ content.field_title.0 }}</span>
              </a>
            </h5>
            {% endif %}

            {{ content.field_summary }}
          </div>
        {% endif %}
      </div>
    </article>
  {% endblock %}
{% endblock %}
