{% set classes = [
  'paragraph',
  'paragraph--type--' ~ (paragraph.bundle|clean_class),
  view_mode ? 'paragraph--view-mode--' ~ (view_mode|clean_class),
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{% block paragraph %}
  {% block content %}
    <article {{ attributes.addClass(classes) }}>
      <header class="head-wrapper">
        <figure class="image-wrapper">
          {{ content.field_image_limited_media }}
        </figure>

        {% if content.field_tag[0] %}
          <div class="card_tag">
            {{ content.field_tag }}
          </div>
        {% endif %}
      </header>

      <div {{ content_attributes.addClass('card_wrapper') }}>
        {{ title_prefix }}
        <div class="card_title"><span>{{ content.field_title.0 }}</span></div>
        {{ title_suffix }}

        {{ content.field_summary }}
      </div>

      <a href="{{ content.field_link_limited.0['#url'] }}" class="link-full-content" aria-label="{{ content.field_title.0 }}" title="{{ content.field_title.0 }}">
        <span class="sr-only">{{ content.field_title.0 }}</span>
      </a>
    </article>
  {% endblock %}
{% endblock %}
