{{ attach_library('hq/swiper_library') }}
{% if is_rtl %}
  {{ attach_library('hq/globalCardsCarousel-rtl') }}
  {{ attach_library('hq/node.vm.global-card-rtl') }}
{% else %}
  {{ attach_library('hq/globalCardsCarousel') }}
  {{ attach_library('hq/node.vm.global-card') }}
{% endif %}

{% block paragraph %}
<div class="container">
  {% block setclass %}
    {% set classes = [
      'paragraph',
      'cards_container',
      'hq-carousel-global-card',
      view_mode ? 'paragraph--view-mode--' ~ (view_mode|clean_class),
      not paragraph.isPublished() ? 'paragraph--unpublished'
    ] %}
  <div {{ attributes.addClass(classes) }}>
  {% endblock setclass %}
    {% block content %}
      {% set items_amount = content.field_component['#items']|length %}
        <div class="row">
          <div class="col-12">
            <div class="swiperHeader-wrapper">
              {{ content.field_title }}
              <nav class="carouselNav-wrapper">
                {% if items_amount > 4  %}
                  {{ content.field_link_limited.0 }}
                {% endif %}
                {% set disabledBtn = (items_amount <= 4) ? 'swiper-button-disabled' : '' %}
                <button class="swiper-button-prev btn btn-primary icon icon-arrow-left {{disabledBtn}}"><span class="sr-only">swipe left</span></button>
                <button class="swiper-button-next btn btn-primary icon icon-arrow-right {{disabledBtn}}"><span class="sr-only">swipe right</span></button>
              </nav>
            </div>
            <div class="swiper-container">
              <div class="swiper-wrapper">
                {{ content.field_component }}
              </div>
              <div class="swiper-scrollbar d-md-none"></div>
            </div>
          </div>
        </div>
    {% endblock %}
  </div>
</div>
{% endblock %}
