{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% set node = content.field_content_reference.0['#node'] %}
{% if is_rtl %}
  {{ attach_library('hq/publication-highlight-rtl') }}
{% else %}
  {{ attach_library('hq/publication-highlight') }}
{% endif %}
{% if not (content_ref_val and node is empty) %}
  {% block paragraph %}
    <div{{ attributes.addClass(classes) }}>
      {% block content %}
        <div class="publication-highlight__wraper">
          <div class="container">
            <div class="row">
              {% if content.field_layout.0|render|trim == 'Text width' %}
                <div class="col-12 col-lg-10 offset-lg-1 ">
              {% else %}
                <div class="col-12">
              {% endif %}
                <div class="publication-highlight__content {{content.field_image_orientation.0|render|clean_class }} {{content.field_layout.0|render|clean_class}}">
                  {% if content.field_content_reference|render|length == 0 %}
                    {# only manual content #}
                    <h2 class="publication-highlight__title">
                      {{content.field_title.0}}
                    </h2>
                    <div class="publication-highlight__img {{content.field_image_orientation.0|render|clean_class }}">
                      {{content.field_image_limited_media.0}}
                    </div>
                    <div class="publication-highlight__btn-group">
                      {{content.field_linked}}
                      {# TODO update download link #}
                      {# {{node.download_link}} #}
                      {% if content.field_download_files|render|length %}
                        <a href="{{content.field_download_files}}" class="btn-download-arrow-icon" download>
                          <i class="drupal-icon download-arrow-icon"></i>
                          <span>{{'Download'|t}}</span>
                        </a>
                      {% endif %}
                    </div>
                  {% else %}
                    <h2 class="publication-highlight__title">
                      {{node.card_title}}
                    </h2>
                    <div class="publication-highlight__img {{content.field_image_orientation.0|render|clean_class }}">
                      {{node.card_image}}
                    </div>
                    <div class="publication-highlight__btn-group">
                      {{content.field_linked}}
                      {% if content.field_download_files|render|length %}
                        <a href="{{content.field_download_files}}" class="btn-download-arrow-icon" download>
                          <i class="drupal-icon download-arrow-icon"></i>
                          <span>{{'Download'|t}}</span>
                        </a>
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>  
      {% endblock %}
    </div>
  {% endblock paragraph %}
{% endif %}
