{% set classes = [
  'btn',
  'btn-primary',
] %}

{% for item in items %}
  <a {{ attributes.addClass(classes) }} 
     href="{{ item.content['#url_title'] }}" 
     aria-label="Go to {{ item.content['#title'] }}" 
     title="{{ item.content['#title'] }}">
      {{ item.content['#title'] }}
  </a>
{% endfor %}
