{% if is_rtl %}
  {{ attach_library('hq/paragraph-ct-basic-cta-rtl') }}
{% else %}
  {{ attach_library('hq/paragraph-ct-basic-cta') }}
{% endif %}

{% set classes = [
  'paragraph',
  'paragraph--type--' ~ (paragraph.bundle|clean_class),
  view_mode ? 'paragraph--view-mode--' ~ (view_mode|clean_class),
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
  <article {{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="container">
        {% if content.field_variation.0['#markup'] == 'right_aligned' %}
          <div class="row align-items-center d-flex">
            <div class="offset-lg-1 col-12 col-md-6 col-lg-5">
              {{ content.field_label }}
              <div class="body">
                {{ content|without('field_image_limited_media', 'field_label', 'field_variation') }}
              </div>
            </div>
            <div class="col-12 col-md-6 image-wrapper">
              <figure class="image">
                <a class="image-link" href="{{ content.field_link_limited.0['#url_title'] }}" aria-label="Go to {{- content.field_label[0] -}} page" title="Link to {{- content.field_label[0] -}} page">
                  {% set media_entity = paragraph.field_image_limited_media.entity %}
                  {% if media_entity %}
                    {% set image_field = media_entity.field_media_image %}
                    {% if image_field.entity %}
                      {% set file_entity = image_field.entity %}
                      {% set file_uri = file_entity.fileuri %}
                      {% set file_ext = file_uri|split('.')|last|lower %}
                      {% if file_ext == 'gif' %}
                        <img src="{{ file_url(file_uri) }}" alt="{{ image_field.alt|e }}" />
                      {% else %}
                        {{ content.field_image_limited_media }}
                      {% endif %}
                    {% endif %}
                  {% endif %}

                </a>
              </figure>
            </div>
          </div>
        {% else %}
          <div class="row align-items-start d-flex paragraph-ct-basic-cta__wrapper {{ content.field_variation.0['#markup'] == 'center_image_left' ? 'image-left' }}">
            <div class="col-12 col-md-6 col-lg-7">
              {{ content.field_label }}
              <div class="paragraph-ct-basic-cta__body">
                {{ content.field_body }}
                {{ content.field_link_limited }}
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 paragraph-ct-basic-cta__image-wrapper">
              <figure class="paragraph-ct-basic-cta__image">
                <a class="image-link" href="{{ content.field_link_limited.0['#url_title'] }}" aria-label="Go to {{- content.field_label[0] -}} page" title="Link to {{- content.field_label[0] -}} page">
                  {% set image_item = paragraph.field_image_limited_media.entity %}
                  {% if image_item and image_item.fileuri|lower ends with '.gif' %}
                    <img src="{{ file_url(image_item.fileuri) }}" alt="{{ image_item.alt|e }}" />
                  {% else %}
                    {{ content.field_image_limited_media }}
                  {% endif %}
                </a>
              </figure>
            </div>
          </div>
        {% endif %}
      </div>
    {% endblock %}
  </article>
{% endblock %}
