{% if is_rtl %}
  {{ attach_library('hq/theme_card-rtl') }}
{% else %}
  {{ attach_library('hq/theme_card') }}
{% endif %}
{% set classes = [
'paragraph',
'paragraph--type--' ~ (paragraph.bundle|clean_class),
view_mode ? 'paragraph--view-mode--' ~ (view_mode|clean_class),
not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
<div {{attributes.addClass(classes)}}>
  {% block content %}
  <div class="theme_card__content">
    <a class="theme_card__link" href="{{ content.field_link_limited.0['#url'] }}" title="link to {{ content.field_title.0 }}">
      <div class="theme_card__image">
      {% if content.field_image_limited_media.0 %}
        {{ content.field_image_limited_media.0 }}
      {% else %}
      <img src="/{{ directory }}/img/default-image.jpg" alt="default-image" loading="lazy">
      {% endif %}
      </div>
      <div class="theme_card__title-wrapper">
        <h3 class="theme_card__title"><span>{{ content.field_title.0 }}</span></h3>
      </div>
    </a>
  </div>
  {% endblock %}
</div>
{% endblock paragraph %}
