{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    'courses-tab__wrapper',
  ]
%}

{% if is_rtl %}
  {{ attach_library('hq/courses-tabs-rtl') }}
{% else %}
  {{ attach_library('hq/courses-tabs') }}
{% endif %}
<div{{ attributes.addClass(classes, 'field__items courses-tab') }} id="courses-tab">
  <div class="row">
    {% for item in items %}
      <div{{ item.attributes.addClass('field__item courses-tab__item col-12 col-md-3') }}>{{ item.content }}</div>
    {% endfor %}
  </div>
</div>
  
