{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if multiple %}
  <ul{{ attributes.addClass(classes, 'field__items') }}>
    {% for item in items %}
      <li class="field__item">
        <a href="{{ item.content['#url'] }}" aria-label="Open {{ item.content['#title'] }}" title="{{ item.content['#title'] }}">
          {{ item.content['#title'] }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
{% endif %}
