{{ attach_library('hq/sdg-listing') }}

{% set classes = [
  'paragraph',
  'paragraph--type--' ~ (paragraph.bundle|clean_class),
  view_mode ? 'paragraph--view-mode--' ~ (view_mode|clean_class),
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{% block paragraph %}
  <h2 class="sdg-listing__heading">{{ content.field_sdg_listing_title.0['#context'].value }}</h2>
  <div {{ attributes.addClass(classes) }}>
    {% block content %}
      <ul class="sdg-listing" id="sdgAccordion">
        {% for item in content.field_sdg %}
          {% set sdg_paragraph = item['#paragraph'] %}
          {% if sdg_paragraph %}
            <li class="sdg-listing__item">
              <button class="sdg-color-{{ sdg_paragraph.field_sdg_number.value }}"
                {% if sdg_paragraph.field_sdg_number.value in ['12', '13', '14', '15'] %}
                  data-target="#collapse-15"
                {% else %}
                  data-target="#collapse-{{ sdg_paragraph.field_sdg_number.value }}"
                {% endif %}
                data-toggle="collapse"
                aria-expanded="false"
                aria-controls="collapse-{{ sdg_paragraph.field_sdg_number.value }}">
                <div class="sdg-listing__content">
                  <div class="sdg-listing__top-content">
                    {% if sdg_paragraph.field_sdg_number.value %}
                      <h3 class="sdg-listing__number">
                        {{ sdg_paragraph.field_sdg_number.value }}
                      </h3>
                    {% endif %}

                    {% if sdg_paragraph.field_sdg_icon.value %}
                      <div class="sdg-listing__icon">
                        <img src="{{ sdg_paragraph.field_sdg_icon|file_url }}"
                          alt="" role="presentation" loading="lazy"/>
                      </div>
                    {% endif %}
                  </div>
                  {% if sdg_paragraph.field_sdg_title.value %}
                    <h3 class="sdg-listing__title">
                      {{ sdg_paragraph.field_sdg_title.value }}
                    </h3>
                  {% endif %}
                </div>
              </button>

              {% if sdg_paragraph.field_sdg_number.value == '15' %}
                <div id="collapse-15" class="sdg-listing__card sdg-border-{{
                sdg_paragraph.field_sdg_number.value
                }} collapse" data-parent="#sdgAccordion">
                  <div class="sdg-listing__card-content">

                    <p class="sdg-listing__static-desc sdg-12">
                      <span class="desc-number">12</span>
                      <span class="desc-title">{{ sdg_group_listing.12 }}</span>
                    </p>

                    <p class="sdg-listing__static-desc sdg-13">
                      <span class="desc-number">13</span>
                      <span class="desc-title">{{ sdg_group_listing.13 }}</span>
                    </p>

                    <p class="sdg-listing__static-desc sdg-14">
                      <span class="desc-number">14</span>
                      <span class="desc-title">{{ sdg_group_listing.14 }}</span>
                    </p>

                    <p class="sdg-listing__static-desc sdg-15">
                      <span class="desc-number">15</span>
                      <span class="desc-title">{{ sdg_group_listing.15 }}</span>
                    </p>

                    {% if sdg_paragraph.field_sdg_description.value %}
                      <div class="sdg-listing__desc">
                        {{ sdg_paragraph.field_sdg_description.value|raw }}
                      </div>
                    {% endif %}
                    {% if sdg_paragraph.field_sdg_cta.uri %}
                      {% set field_sdg_cta_title = sdg_paragraph.field_sdg_cta.title %}
                      <a class="sdg-listing__cta" href="{{ sdg_paragraph.field_sdg_cta.uri }}" title="{{ field_sdg_cta_title }}">
                        {{ field_sdg_cta_title }}
                      </a>
                    {% endif %}
                  </div>
                </div>
              {% else %}
                <div id="collapse-{{ sdg_paragraph.field_sdg_number.value }}"
                  class="sdg-listing__card sdg-border-{{
                sdg_paragraph.field_sdg_number.value
                }} collapse"
                  data-parent="#sdgAccordion">
                  <div class="sdg-listing__card-content">

                    <p class="sdg-listing__static-desc sdg-{{ sdg_paragraph.field_sdg_number.value }}">
                      <span class="desc-number">{{ sdg_paragraph.field_sdg_number.value }}</span>
                      <span class="desc-title">{{ sdg_paragraph.field_sdg_title.value }}</span>
                    </p>

                    {% if sdg_paragraph.field_sdg_description.value %}
                      <div class="sdg-listing__desc">
                        {{ sdg_paragraph.field_sdg_description.value|raw }}
                      </div>
                    {% endif %}

                    {% if sdg_paragraph.field_sdg_cta is not empty %}
                      {% set link_item = sdg_paragraph.field_sdg_cta.0 %}
                      {% set link_url = staticSiteURL[sdg_paragraph.field_sdg_number.value] %}
                      <a class="sdg-listing__cta" href="{{ staticSiteURL[sdg_paragraph.id.value] }}" title="{{ link_item.title }}">
                        {{ link_item.title }}
                      </a>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endblock %}
  </div>
{% endblock %}
