{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
 {% block paragraph %}
    {% block content %}
      <li class="swiper-slide" value="{{ content.field_label.0 }}">
        <article class="timeLineText-wrapper">
          <figure class="image-wrapper">
            {{ content.field_media_image }}
          </figure>
          <div class="text-wrapper">
            <div class="cards_wrapper">
              {% if content.field_title.0 %}
                <h4 class="card_title">{{ content.field_title.0 }}</h4>
              {% endif %}
              
              {{ content.field_body }}

              {% if content.field_link.0 %}
                <div class="more-link">
                  <a href="{{ content.field_link.0['#url_title'] }}" 
                     aria-label="Go to {{ content.field_link.0['#title'] }}" 
                     title="{{ content.field_link.0['#title'] }}">
                    {{ content.field_link.0['#title'] }}
                  </a>
                </div>
              {% endif %}
            </div>
          </div>
        </article>
      </li>
    {% endblock %}
{% endblock paragraph %}
