{#
/**
 * @file
 * Theme override for unformatted summary links.
 *
 * Available variables:
 * - rows: The rows contained in this view.
 *   - url: The URL to this row's content.
 *   - count: The number of items this summary item represents.
 *   - separator: A separator between each row.
 *   - attributes: HTML attributes for a row.
 *   - active: A flag indicating whether the row is active.
 * - options: Flags indicating how each row should be displayed. This contains:
 *   - count: A flag indicating whether the row's 'count' should be displayed.
 *   - inline: A flag indicating whether the item should be wrapped in an inline
 *     or block level HTML element.
 *
 * @see template_preprocess_views_view_summary_unformatted()
 */
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
    'block-glossary-listing__alphabet-filter'
  ]
%}
{% set letters = range('a', 'z') %}
{% set letters = letters|merge(['all']) %}
{% set outer_last = false %}

<section{{ attributes.addClass(classes) }}>
  <div class="glossary-letters">
    {% for letter in letters %}
      {% set row = '' %}
      {% if loop.last %}
        {% set outer_last = true %}
      {% endif %}
        <div class="views-summary views-summary-unformatted">
          {% for loop_row in rows %}
            {% if (outer_last and loop.last) %} 
              {% set row = loop_row %}
            {% endif %}
            {% if loop_row.link == letter|upper %}
              {% set row = loop_row %}
            {% endif %}
          {% endfor %}
        {% if row %}
          <a href="{{ row.url }}"{{ row.attributes.addClass(row.active ? 'is-active')|without('href') }}>{{ row.link }}</a>
          {% if options.count %}
            ({{ row.count }})
          {% endif %}
        {% else %}
          {{ letter|upper }}
        {% endif %}
      </div>
    {% endfor %}
  </div>
</section>


