{% set classes = [
  'node',
  'node--type-' ~ (node.bundle|clean_class),
  view_mode ? 'node--view-mode-' ~ (view_mode|clean_class),
  'node--type-hq-article-card',
] %}
{% if is_rtl %}
  {{ attach_library('hq/node.vm.global-card-rtl') }}
{% else %}
  {{ attach_library('hq/node.vm.global-card') }}
{% endif %}
<article {{ attributes.addClass(classes) }}>
  {% set page_url = (node.card_link|render|striptags|trim|length) ?  node.card_link|render|striptags|trim : url %}
  {% set linktitle = (node.card_title|render|length) ?  node.card_title|render|striptags|trim : label|render|striptags|trim %}
  <a href="{{page_url}}" class="global-card__link"  title="{{linktitle}}">
    <div class="global-card__wrapper">
      <div class="global-card__image">
        {% if node.card_image %}
          {{ node.card_image }}
        {% elseif content.field_media_image.0 %}
          {{ content.field_media_image }}
        {% endif %}
      </div>
      <div class="global-card__tag">
        {% if node.card_tag %}
          <div class="global-card__tag-text">
            {{node.card_tag}}
          </div>
        {% elseif content.field_story_type.0 %}
          <div class="global-card__tag-text">
            {{ content.field_story_type.0 }}
          </div>
        {% endif %}
      </div>
      <h3 class="global-card__title">
        {% if node.card_title %}
          <span>{{node.card_title}}</span>
        {% else %}
          {{label}}
        {% endif %}
      </h3>
      {% if node.card_publication_date.0 %}
        <time class="global-card__date" datetime="{{ node.card_publication_date.0 }}">
          {{node.card_publication_date.0}}
        </time>
      {% else %}
        <time class="global-card__date" datetime="{{ content.field_story_publication_date.0['#text'] }}">
          {{content.field_story_publication_date.0}}
        </time>
      {% endif %}
    </div>
  </a>
</article>
