{%
set classes = [
'node',
'node--type-' ~ node.bundle|clean_class,
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

{%
set location = content.field_event_address['#items'].getValue()
%}
{% if is_rtl %}
  {{ attach_library('hq/node.full.ct-event-rtl') }}
{% else %}
  {{ attach_library('hq/node.full.ct-event') }}
{% endif %}
<article {{ attributes.addClass(classes) }}>
  {% block node %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          <header class="story-header">
            <div class="story-tag">{{ content.field_event_type.0 }}</div>
            <h1 class="story-title">{{ content.field_title }}</h1>
            {{ drupal_block("social_sharing_buttons_block") }}
          </header>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8">
          {{ content.field_media_image }}
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8">
          {{ content.body }}
          {% if content.field_rsvp_deadline_date.0 %}
            <p><strong>{{"RSVP"|t}}:</strong> {{ content.field_rsvp_deadline_date.0 }}</p>
          {% endif %}
          {% if content.field_registration_link or content.field_event_live_link %}
            <div class="btn-group">
              {{ content.field_registration_link }}
              {{ content.field_event_live_link }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="event__block">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="event__date-location">
                  <h2 class="event__title-h4">{{"Date and time"|t}}</h2>
                  <div class="event__date-location-content">
                    <i class="drupal-icon e-date-icon" tabindex="-1"></i>
                    <div>
                      {% if content.field_date[0].end_date %}
                        {% set start_date = content.field_date['#object'].field_date.value|date("Y-m-d") %}
                        {% set end_date = content.field_date['#object'].field_date.end_value|date("Y-m-d") %}
                        {% set start_time = content.field_date['#object'].field_date.value|date('H:i e') %}
                        {% set end_time = content.field_date['#object'].field_date.end_value|date('H:i e') %}
                        {% if start_date == end_date %}
                          {% if start_time != end_time %}
                            <span class="text-blue"></span>{{ content.field_date['#object'].field_date.value|date("j F Y") }},&nbsp;{{ content.field_date['#object'].field_date.value|date('H:i') }}&ndash;{{ end_time }} <br />
                          {% else %}
                            <span class="text-blue"></span>{{ content.field_date[0].start_date }}<br />
                          {% endif %}
                        {% else %}
                          <span class="text-blue">{{"Start"|t}}:&nbsp;</span>{{ content.field_date[0].start_date }}<br />
                          <span class="text-blue">{{"End"|t}}:&nbsp;</span>{{ content.field_date[0].end_date }}
                        {% endif %}
                      {% else %}
                        {{ content.field_date[0]|without('addtocal') }}<br />
                      {% endif %}
                      {% if is_rtl %}
                        {{ attach_library('addtocal/addtocal-rtl') }}
                      {% else %}
                        {{ attach_library('addtocal/addtocal') }}
                      {% endif %}
                      {{ content.field_date[0].addtocal }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="event__date-location">
                  <h2 class="event__title-h4">{{"Location"|t}}</h2>
                  <div class="event__date-location-content">
                    <i class="drupal-icon location-icon" tabindex="-1" focusable="false"></i>
                    <div>
                      {% if content.field_event_live_link and location is empty %}
                        {{"Online"|t}}
                      {% else %}
                        <strong>{{ location[0].organization }}</strong>, {{ location[0].address_line1 }} {{ location[0].address_line2 }} <br />
                        {{ location[0].locality }} {{ location[0].country_code }} {{ location[0].postal_code }}
                      {% endif %}	
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if content.field_event_address.0 %}
      {% if is_rtl %}
        {{ attach_library('hq/map_block-rtl') }}
      {% else %}
        {{ attach_library('hq/map_block') }}
      {% endif %}
      <div class="row">
        <div class="col-12">
          <div class="event__block map">
            <div class="event__map">
              <a href="javascript:void(0)" class="event__map-link event__map-link--hide">{{"hide map"|t}}</a>
              <a href="javascript:void(0)" class="event__map-link event__map-link--show hidden">{{"show map"|t}}</a>
              {{ content.field_event_address.0 }}
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% if content.field_agenda.0 %}
        <div class="row">
          <div class="col-12">
            <div class="event__block">
              <div class="event__agenda">
                <h2 class="event__sub-title">{{"Agenda"|t}}</h2>
                <div class="event__agenda-content">
                  {{ content.field_agenda }}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% if content.field_speaker.0 %}
        <div class="row">
          <div class="col-12">
            <div class="event__block speaker--block">
              <h2 class="event__sub-title">{{"Speaker"|t}}</h2>
              {{ content.field_speaker }}
            </div>
          </div>
        </div>
      {% endif %}
      {% if content.field_contact_person.0 or content.field_contact_email.0 %}
        {% if is_rtl %}
          {{ attach_library('hq/contact_block-rtl') }}
        {% else %}
          {{ attach_library('hq/contact_block') }}
        {% endif %}
        <div class="row">
          <div class="col-12">
            <div class="event__block contact__block">
              <h2 class="event__sub-title">{{"Contact"|t}}</h2>
              <div class="contact__block--item">
                <div class="contact__row row">
                  <div class="contact__image col-2 col-sm-1">
                    <img src="/{{ directory }}/img/user-icon.svg"  alt="default-user" loading="lazy">
                  </div>
                  <div class="contact__details col-10 col-sm-11">
                    <div class="contact__person">{{ content.field_contact_person.0 }}</div>
                    {% if content.field_contact_email.0 %}
                      <div class="contact__email--wrapper">
                        <div class="contact__email--statictext">{{"Contact person email:"|t}}</div>
                        {# TODO refactor #}
                        <div class="contact__email--click">
                          <a href="javascript:void(0)" class="contact__clicktext">{{"Click to reveal"|t}}</a>
                          <a class="contact__email hidden" href="mailto:{{ content.field_contact_email.0 }}">{{ content.field_contact_email.0 }}</a>
                        </div>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}	
    </div>
    {{ content.field_builder }}
  {% endblock %}
</article>
