{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

{% set merged_terms = [] %}

{# <article{{attributes.addClass(classes)}}> #}
{% block node %}
  <div class="content-publications">
    <div class="right-content">
      <div class="sidebar">
        <div class="image-background">
          {{ content.field_media_image }}
        </div>

        {% if content.field_download_files.0['#paragraph'].field_title_taxonomy.0 %}
          <div class="download-files">
            <span class="coh-inline-element download-animated">
              <i class="coh-inline-element"></i>
              <div class="title">{{ 'DOWNLOAD'|t }}</div>
            </span>
            {{ content.field_download_files }}
          </div>
        {% endif %}
      </div>
    </div>

    <div class="left-content">
      <h1>{{ content.field_title['0']['#context']['value']|raw }}</h1>
      <div class="wrapp-year-social">
        <div class="publication-year field field--label-inline clearfix">
          <div class="field__label">
            <h6>{{ 'Publication year:'|t }}
              {{ content.field_story_publication_date['0']['#text'] }}</h6>
          </div>
        </div>

        {{ drupal_block("social_sharing_buttons_block") }}
      </div>

      {{ content.field_subheader }}
      <div class="doc-description">
        <div>
          {{ content.body }}

          {% if content.field_attachments.0 %}
            <h6 id="view">{{ 'Additional documents'|t }}</h6>
            <div class="tag-entities">
              {{ content.field_attachments }}
            </div>
          {% endif %}

          <h6>{{ 'Bibliographic information'|t }}</h6>

          {% if content.field_resource_type|render %}
            <div class="mb-2 semi-colon-terms">
              <strong>{{ 'Resource type(s): '|t }}</strong>

              {% if content.resource_type_terms %}
                {%- for item in content.resource_type_terms -%}
                  {% if item|length > 0 %}
                    <a href="{{ path('<front>') }}/digital-library/publications?f[0]=resource_type_publications:{{ item.id }}">
                      {{ item.name -}}
                    </a>
                  {% endif %}
                {%- endfor -%}
              {% endif %}
            </div>
          {% endif %}

          {% if content.field_publication_series|render %}
            <div class="mb-2 semi-colon-terms">
              <strong>{{ 'Publication series: '|t }}</strong>

              {% if content.publication_series_terms %}
                {%- for item in content.publication_series_terms -%}
                  {% if item|length > 0 %}
                    <a href="{{ path('<front>') }}/digital-library/publications?f[0]=publication_series_publications:{{ item.id }}">
                      {{ item.name -}}
                    </a>
                  {% endif %}
                {%- endfor -%}
              {% endif %}
            </div>
          {% endif %}

          {% if content.field_publishing_office|render %}
            <div class="mb-2 semi-colon-terms">
              <strong>{{ 'UN Women office publishing: '|t }}</strong>

              {% if content.publishing_office_terms %}
                {% set publishing_offices = [] %}
                {%- for item in content.publishing_office_terms -%}
                  {% if item.name|length > 0 %}
                    {% set publishing_offices = publishing_offices | merge([item.name]) %}
                  {% endif %}
                {%- endfor -%}
                {{ publishing_offices|join('; ')|raw }}
              {% endif %}
            </div>
          {% endif %}

          {{ content.field_page_no }}
          {{ content.field_isbn }}

          {% if content.field_governing_body|render %}
            <div class="mb-2 semi-colon-terms">
              <strong>{{ 'Governing body/ies: '|t }}</strong>

              {% if content.governing_body_terms %}
                {%- for item in content.governing_body_terms -%}
                  {% if item|length > 0 %}
                    <a href="{{ path('<front>') }}/digital-library/publications?f[0]=governing_body_publications:{{ item.id }}">
                      {{ item.name -}}
                    </a>
                  {% endif %}
                {%- endfor -%}
              {% endif %}
            </div>
          {% endif %}

          {% if content.field_publishing_entity|render %}
            <div class="field-publishing-entity semi-colon-terms">
              <span class="field__label">{{'Publishing entities'|t}}</span>
              {% set terms = [] %}
              {% if content.publishing_entity_terms %}
                {%- for item in content.publishing_entity_terms -%}
                  {% if item|length > 0 %}
                    {% set terms = terms|merge([ '<a href="' ~ path('<front>') ~ '/resources?f[0]=published_by:' ~ item.id ~ '">' ~ item.name ~ '</a>' ]) %}
                  {% endif %}
                {%- endfor -%}
                {{ terms|join('; ')|raw }}
              {% endif %}
            </div>
          {% endif %}

          {% if content.subject_area_terms is defined %}
            {% set merged_terms = merged_terms|merge(content.subject_area_terms) %}
          {% endif %}

          {% if content.country_terms is defined %}
            {% set merged_terms = merged_terms|merge(content.country_terms) %}
          {% endif %}

          {% if content.region_terms is defined %}
            {% set merged_terms = merged_terms|merge(content.region_terms) %}
          {% endif %}

          {% if merged_terms|length > 0 %}
            <div class="mb-2">
              {%- for item in merged_terms|sort -%}
                {% if item|length > 0 %}
                  {{ link(item.name, (url('<front>')|render|split('/', -1)|join('/')) ~ item.tag_url, { 'class':['content-tag'] }) }}
                {% endif %}
              {%- endfor -%}
            </div>
          {% endif %}

          {{ content.field_builder }}

          {{ drupal_view('duplicate_of_related_publications_','block_1') }}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{# </article> #}
