{#
/**
 * @file
 * Default theme implementation to each level of menu.
 */
#}
{% import _self as menu %}

{{ menu.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  <ul{{attributes.addClass(['menu', 'menu-level-'~items|first.menu_level])}}>
    {% for key, item in items %}
      {% if key|first != '#' %}
        {% set menu_item_classes = [
          'menu-item',
          'nav-item',
          item.is_expanded ? 'menu-item--expanded dropdown',
          item.is_collapsed ? 'menu-item--collapsed',
          item.in_active_trail ? 'menu-item--active-trail active',
        ] %}

        {% set menu_link_classes = [
          'nav-link',
          item.is_expanded ? 'dropdown-toggle',
        ] %}
        {% set rendered_content = item.content|without('')|render %}
        {% set menu_link_attribute = create_attribute() %}
        <li{{ item.attributes.addClass(menu_item_classes) }}>
            {% if item.is_expanded %}
            <a {{ menu_link_attribute.addClass(menu_link_classes) }} href="javascript:void(0)" id="navbarDropdownMenuLink-{{key}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{item.title}}">
              {{item.title}}
            </a>
          {% else %}
            <a {{ menu_link_attribute.addClass(menu_link_classes) }} href="{{item.url ? item.url : 'javascript:void(0)'}}" title="{{item.title}}">
              {{item.title}}
            </a>
          {% endif %}
          {% if item.is_expanded %}
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-{{key}}">
              {{ rendered_content }}
            </div>
          {% endif %}
        </li>
      {% endif %}
  {% endfor %}
  </ul>
{% endmacro %}
