{#
/**
 * @file
 * Default theme implementation to each level of menu.
 */
#}
{% import _self as menu %}

{{ menu.menu_links(items, attributes, 0) }}

{% if menu_level == 0 %}
  {% if is_rtl %}
    {{ attach_library('hq/hq-main-navigation-rtl') }}
  {% else %}
    {{ attach_library('hq/hq-main-navigation') }}
  {% endif %}
{% endif %}

{% macro menu_links(items, attributes, menu_level) %}
  <ul class="hq-main-menu nav-bar menu menu-level-{{ items|first.menu_level }}">
  {% for key, item in items %}
    {% if key|first != '#' %}
      {% set menu_item_classes = [
        'menu-item',
        'nav-item',
        item.is_expanded ? 'menu-item--expanded dropdown',
        item.is_collapsed ? 'menu-item--collapsed',
        item.in_active_trail ? 'menu-item--active-trail active',
      ] %}

      {% set menu_link_classes = [
        'nav-link',
        item.is_expanded ? 'dropdown-toggle',
      ] %}
      
      {% set rendered_content = item.content|without('field_hover_text', 'field_highlighted_menu', 'field_image')|render %}
      {% set menu_link_attribute = create_attribute() %}
      {% set titleText = item.content.field_hover_text.0 ? item.content.field_hover_text.0 : item.title %}
      {% set linkTarget = item.url.getOption('attributes').target ? item.url.getOption('attributes').target : '_self' %}

      <li{{ item.attributes.addClass(menu_item_classes) }}>
          {% if item.is_expanded %}
            {% if item.url|render|length %}
              <a {{ menu_link_attribute.addClass(menu_link_classes) }} href="{{item.url}}" id="navbarDropdownMenuLink-{{key}}"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{titleText}}" target={{linkTarget}}>
                <span>{{item.title}}</span>
              </a>
            {% else %}
              <a {{ menu_link_attribute.addClass(menu_link_classes) }} href="javascript:void(0)" title="{{titleText}}">
                <span>{{item.title}}</span>
              </a>
            {% endif %}
        {% else %}
          {% if item.url|render|length %}
            <a {{ menu_link_attribute.addClass(menu_link_classes) }} href="{{item.url}}" title="{{titleText}}" target={{linkTarget}}>
              <span>{{item.title}}</span>
            </a>
          {% else %}
            <a {{ menu_link_attribute.addClass(menu_link_classes) }} href="javascript:void(0)" title="{{titleText}}" tabindex="-1">
              <span>{{item.title}}</span>
            </a>
          {% endif %}
        {% endif %}
        {% if item.is_expanded %}
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-{{key}}">
            {{ rendered_content }}
          </div>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
  </ul>
{% endmacro %}
