{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]
%}
{% block paragraph %}
  {% block content %}
    {% if content.field_container.0['#markup'] == 'c_full' %}
      {# Full width image item #}
      <div{{ attributes.addClass(classes) }}>
        {% if content.field_media_image.0 %}
          {{ attach_library('hq/rellax_library') }}
          <figure class="image parallax-image">
            {{ content.field_media_image }}

            {% if media_caption %}
              <div class="container">
                <figcaption class="caption">
                  {{ media_caption }}
                </figcaption>
              </div>
            {% endif %}
          </figure>
        {% endif %}
      </div>
    {% else %}
      {# Image in container: lg or sm #}
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 {% if content.field_container.0['#markup'] == 'c_lg' %} col-md-10 {% else %} col-md-8 {% endif %}">
            <div{{ attributes.addClass(classes) }}>
              {% if content.field_media_image.0 %}
                <figure class="image">
                  {{ content.field_media_image }}

                  {% if media_caption %}
                    <figcaption class="caption">
                      {{ media_caption }}
                    </figcaption>
                  {% endif %}
                </figure>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endblock content %}
{% endblock paragraph %}
