{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'alignment-' ~ content.field_text_position.0['#markup']|lower,
    'orientation-' ~ content.field_image_orientation.0['#markup']|lower,
    'fill-' ~ content.field_year_effect.0['#markup']|lower
  ]
%}

{# Define a variable for the text color based on the condition #}
{% set text_color = content.field_year_effect.0['#markup']|lower == 'hollow' ? content.background_hex_code : content.background_hex_code %}
{% set stroke_color = content.field_year_effect.0['#markup']|lower == 'hollow' ? content.background_hex_code : '' %}
{% set timeline_date = content.field_publication_date[0]['#markup'] %}
{% set date_formats = {
  'date': "d",
  'month': "F",
  'year': "Y"
} %}

{{ attach_library('hq/aos_library') }}

{% block paragraph %}
  <div data-aos="fade-up" data-aos-duration="700" data-aos-delay="350" data-aos-easing="ease-in-out">

    <div{{ attributes.addClass(classes) }} id="timeline-{{ timeline_date|date('Y') }}-{{ timeline_date|date('M')|lower }}">

      <div class="timeline-item-wrapper">
        <div class="card">
          <div class="text">
              <div class="date">
                {% for type, format in date_formats %}
                  {% if type in date_preference_selected %}
                    {{ type == 'month' ? timeline_date|date(format)|t : timeline_date|date(format) }}
                  {% endif %}
                {% endfor %}
              </div>
              <div class="title"> {{ content.field_title }} </div>
          </div>
          <div class="timeline-description"> {{ content.field_description }}</div>
        </div>
        <div class="media-wrapper">
          {% if content.field_image.0 is not empty %}
            <div class="image-wrapper"> {{ content.field_image }} </div>
          {% elseif content.field_media_video.0 is not empty %}
            <div class="video-wrapper"> {{ content.field_media_video }} </div>
          {% endif %}
          {% if content.field_show_year_on_card.0['#markup'] == 'On' %}
            <div class="datestamp">
              <div class="year"
                  style="
                  {% if stroke_color %}
                      -webkit-text-stroke-color: {{ stroke_color }};
                      -webkit-text-fill-color: transparent;
                  {% else %}
                      color: {{ text_color }};
                  {% endif %}
                  ">
                {{ timeline_date|date('Y') }}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

