<div class="modal fade modal-social-sharing" id="shareitModal" tabindex="-1" role="dialog" aria-labelledby="shareitModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shareitModalLabel">{{ 'Share this page'|t }}</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="{{ 'Close'|t }}">
          <i class="drupal-icon close-icon" tabindex="-1" focusable="false"></i>
        </button>
      </div>
      <div class="modal-body">
        {{ drupal_block("social_sharing_buttons_block") }}
        <div class="copy-link">
          <p>{{ 'Or copy link'|t }}</p>
          <label for="copyLinkInput" class="sr-only">{{"Copy URL input box"|t}}</label>
          <input id="copyLinkInput" class="copy-link__input" type="text" value="{{ url('<current>') }}" readonly>
          <button type="button" class="copy-link__btn">
            <i class="drupal-icon copy-icon" tabindex="-1" focusable="false"></i>
            <span class="sr-only">{{"URL copy button"|t}}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
