

{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'hq-hero-banner',
    content.field_banner_type[0]['#markup'] == 'Large' ? 'banner-large' : '',
  ]
%}

{# Ticket no : UNWWD-356: Added code to fix cache issue #}
{# https://www.drupal.org/project/drupal/issues/2660002#comment-15422054 #}

{% set _render_cache = content|render %}
{% if is_rtl %}
  {{ attach_library('hq/paragraph.vm.hero-banner-large-rtl') }}
{% else %}
  {{ attach_library('hq/paragraph.vm.hero-banner-large') }}
{% endif %}
{% block paragraph %}
  <div {{ attributes.addClass(classes) }}>
    <div class="hq-hero-banner__img" tabindex="-1">
      {{content.field_media_image.0}}
    </div>
    <div class="hq-hero-banner__wrapper {{content.field_text_position.0|render|lower}}">
      <div class="container"> 
        <div class="row"> 
          {% if content.field_text_position.0|render|lower == 'left' %}
            <div class="col-12 col-sm-10 col-md-7 col-lg-6"> 
          {% elseif content.field_text_position.0|render|lower == 'right' %}    
            <div class="col-12 col-sm-10 col-md-7 col-lg-6 offset-lg-6 offset-md-5 offset-sm-2">
          {% else %}
            <div class="col-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2 text-center">
          {% endif %}
            <div class="hq-hero-banner__content">
              {% if content.field_publication_date.0 %}
                <div class="hq-hero-banner__date">
                  {{content.field_publication_date.0}}
                </div>
              {% endif %}

              {% if content.field_title.0 %}
                <h2 class="hq-hero-banner__title">
                  {{content.field_title.0}}
                </h2>
              {% endif %}

              {% if content.body.0 %}
                <div class="hq-hero-banner__body">
                  {{content.body.0}}
                </div>
              {% endif %}

              {% if content.field_cta.0 %}
                <div class="hq-hero-banner__btn">
                  {{content.field_cta}}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
